{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:jsdoc/recommended",
    "prettier"
    ],
  "rules": {
      "no-plusplus": 0,
      "no-console": 0,
      "camelcase": 0
  }
}
